.pagination-item {
  @apply px-4 cursor-pointer;
}

.pagination-container .pagination-item.dots:hover {
  opacity: 1;
  cursor: default;
}
.pagination-container .pagination-item {
  @apply hover:text-teal-600;
}
.pagination-container .pagination-item.selected {
  @apply bg-gray-300 dark:bg-gray-800 px-4 py-2 rounded-full;
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}
